@font-face {
	font-family: "Lato";
	font-weight: 400;
	src: ("../fonts/Lato-Regular.ttf");
}

@font-face {
	font-family: "Lato";
	font-weight: 500;
	src: ("../fonts/Lato-Semibold.ttf");
}

@font-face {
	font-family: "Lato";
	font-weight: 700;
	src: ("../fonts/Lato-Bold.ttf");
}

body {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 15px;
	background-color: #f4f4f5;
	color: #111;
	padding: 0 15px;
	overflow-y: hidden;
}

.form-container {
	display: flex;
    	height: 100vh;
    	justify-content: center;
    	align-items: center;
}

.form-block {
	max-width: 480px;
	margin: 0 auto;
	float: left;
}

.form-block-image {
	display: inline-block;
	width: 30%;
}

.form-block-header-text {
	display: inline-block;
	position: relative;
	font-size: 20px;
	margin: 0;
	top: -22px;
	left: 10px;
}

.form-block-body-text {
	line-height: 22px;
}

.form-block-body-table {
	border-spacing: 0;
	margin-top: 25px;
	margin-bottom: 30px;
}

.form-block-body-table tr {
	line-height: 24px;
}

.form-block-body-table tr td:nth-child(odd) {
	padding-right: 40px;
}

.form-block-body-table tr td:nth-child(even) {
	font-weight: 700;
}

.form-block-body-notification {
	font-size: 13px;
	line-height: 18px;
	background-color: #f5f6f7;
	box-shadow: 0 0 5px rgba(0, 0, 0, .1);
	border: 1px solid #e1e1ea;
	border-radius: 4px;
	padding: 10px 15px;
	margin-bottom: 25px;
}

.form-block-footer-text {
	font-weight: 700;
}

.form-block-footer-input {
	display: block;
	width: calc(100% - 32px);
	font-family: "Lato", sans-serif;
	font-size: 14px;
	border: 1px solid #e7e7e7;
	border-radius: 3px;
	padding: 10px 15px;
	transition: .25s;
}

.form-block-footer-input:focus {
	border-color: #c5c0c0;
	outline: none;
}

.input-invalid {
	border-color: #e74c3c;
}

.form-block-footer-input::-webkit-outer-spin-button,
.form-block-footer-input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0; 
}

.form-block-footer-button {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 12px 0;
    background: #0031c8;
    color: #fff;
    font-family: inherit;
    font-size: 13px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    outline: 0;
}
}

.form-block-footer-button:hover {
	background-color: #00a3df;
}

@media (max-width: 360px) {
	.form-block-image {
		display: block;
		margin-bottom: 15px;
	}

	.form-block-header-text {
		position: static;
		display: block;
	}
}

@media (max-height: 680px) {
	body {
		overflow-y: auto;
		padding: 15px;
	}

	.form-container {
		display: block;
	}

	.form-block-footer-button {
		margin-bottom: 25px;
	}
}